body {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* #atom {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
} */
/* #atom:hover {
  opacity: 0.5;
  transform: rotate(320deg);
  transform-origin: center; */


#atom{
  display: inline;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
  transform-origin: center;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    
    }
    to {
        transform:rotate(360deg);

    }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
